<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A List of All Available Reviews</title>
    <link rel="stylesheet" href="homestyle.css">
</head>
<body>

<header>
    <h1 class="header_home">Anime Tv Show Reviews</h1>
</header>

<section>
    <figure>
    <h3>By Dia D. Scruggs</h3>
    </figure>
</section>

<div class="container_home">

    <div class="link">
        <ul th:each="review: ${reviewsModel}">
            <li><a  class="reviews_link" th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a></li>
        </ul>
    </div>

</div>

<footer class="footer_home">
    <small>&copy dds 2021</small>
</footer>

</body>
</html>
